.church-name-box {
  position: absolute;
  top: 120px;
  left: 70px;
  text-align: left;
}

.text-james-less {
  font-family: "Bebas Neue", sans-serif;
  font-size: 120px;
  color: white;
  line-height: 0.9;
}

.text-roman {
  font-family: "Avenir Book", sans-serif;
  font-size: 24px;
  padding-left: 5px;
  color: grey;
  line-height: 0.8;
}
/* for translate page */
.church-name-box-for-translate-page {
  position: absolute;
  top: 80px;
  left: 70px;
  text-align: left;
}

.text-iglesia {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  padding-left: 10px;
  /* color: white; */
  color: grey;
  /* line-height:  */
}
