.footer {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	width: 100%;

	padding: 1em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	z-index: 1;

	color: rgba(255, 255, 255, 0.6);
	font-family: "Avenir Book", sans-serif;
	font-weight: bolder;
	font-size: 20px;
	text-decoration: none;
}

.footer a {
	text-decoration: none;
}

.church-address {
	margin-left: 50px;
	display: block;
}
.masstimes-and-directions-link {
	margin-left: 1em;
}
.masstimes-and-directions-link a {
	color: gainsboro;
	padding: 10px 20px;
	margin-right: 60px;
	border-radius: 10px;
	box-shadow: 0 10px 20px black;
	transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s;
	cursor: pointer;
	background: linear-gradient(145deg, #2b2b2b, #1e1e1e);
}

.masstimes-and-directions-link a:hover {
	color: yellow;

	margin-right: 60px;
}
/* Iphone */
@media (max-width: 767px) {
	.church-address {
		/* margin-left: 50px; */
		display: none;
	}
}
/* also include Ipad Mini */
@media (max-width: 819px) {
	.church-address {
		/* margin-left: 50px; */
		display: none;
	}
}
