body {
	margin: 0;
	overflow-y: auto; /* vertical scrolling */
	overflow-x: hidden; /* Prevents horizontal scrolling */

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.boxA {
	width: calc(100% - 20px);
	top: 100px;

	display: flex;
	flex-direction: row;
}
.boxLeft {
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	/* background-color: pink; */
	padding-top: 100px;
}
.church-name-container {
	flex-direction: column;
	align-items: flex-start;
	/* background-color: lightskyblue; */
}
.boxRight {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align contents to the top */
	/* background-color: gray; */
	padding-top: 100px;
	padding-left: 150px;
}

.text-james-less {
	font-family: "Bebas Neue", sans-serif;
	font-size: 120px;
	color: darkslategrey;
	line-height: 0.9;
}

.text-roman {
	font-family: "Avenir Book", sans-serif;
	font-size: 24px;
	padding-left: 5px;
	color: grey;
	line-height: 0.8;
}

.holy-mass-tagline {
	font-family: "Avenir Book", sans-serif;
	font-weight: bolder;
	font-size: 40px;
	color: red;
	padding-left: 150px;
}

.schedule-box {
	/* box below  holy-mass-tagline*/
	display: flex;
	flex-direction: row;
	padding-bottom: 80px;
	/* background-color: burlywood; */
}
.sked-box {
	width: 370px;
	/* background-color: darkorchid; */
	margin-right: 15px;
}

.sked-title {
	font-family: "Avenir Book", sans-serif;
	font-weight: bolder;
	font-size: 32px;
	color: orangered;
	margin-bottom: -10px;
}

.li-main,
.li-sub {
	font-family: "Avenir Book", sans-serif;
	font-weight: bolder;
	font-size: 24px;
	color: darkslategrey;
	margin-left: 20px;
}

/* PRAYER AND RECONCILIATION */
.prayer-and-reconciliation-box {
	background-color: darkslategrey;
}

.prayer-and-reconciliation-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.prayer-and-reconciliation-tagline {
	font-family: "Avenir Book", sans-serif;
	font-weight: bolder;
	font-size: 40px;
	color: orange;
}
.prayer-and-reconciliation-tagline {
	padding-top: 100px;
}
.confession-and-adoration-box {
	width: 1000px;
}

.confession-and-adoration-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.prayer-box {
	width: 400px;
	margin-right: 20px;
}

.prayer-title {
	font-family: "Avenir Book", sans-serif;
	font-weight: bolder;
	font-size: 32px;
	color: orangered;
	margin-bottom: -13px;
}
.prayer-li-main {
	font-family: "Avenir Book", sans-serif;
	font-weight: bolder;
	font-size: 24px;
	color: white;
	margin-left: 20px;
}

/*  SEASONAL SCHEDULE BOX (currently Lent)  */
.seasonal-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.seasonal-tagline {
	font-family: "Avenir Book", sans-serif;
	font-weight: bolder;
	font-size: 40px;
	color: red;
}
.seasonal-tagline {
	padding-top: 80px;
}
.seasonal-info-box {
	width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.seasonal-img-box {
	width: 430px;
	margin-right: 100px;
	margin-top: 30px;
}
.seasonal-schedule-box {
	/* width: 600px; */
	padding-bottom: 80px;
}

.lenten-schedule-details-box {
	height: 300px;
	width: 300px;
	background-color: honeydew;
	margin-right: 50px;
}

.holy-mass-tagline {
	font-family: "Avenir Book", sans-serif;
	font-weight: bolder;
	font-size: 40px;
	color: red;
	padding-left: 150px;
}
